@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-mono: monospace;
}

body {
  font-family: monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #ffffff;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
