.basic-button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #2d2e72;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-mono);
  font-size: 1rem;
}

.submit-button {
  margin: 5px;
  padding: 0.75rem;
  background-color: #124d20;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-mono);
  font-size: 1rem;
  transition: opacity 0.2s;
}

.cancel-button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #4d0505;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-mono);
  font-size: 1rem;
}
